* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

nav {
  z-index: 10;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #656565;
  position: fixed;
  left: 0;
  top: 0;
}

nav li {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 8px 0;
}

nav li:hover {
  background-color: #565656;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

#about-me {
  display: flex;
  align-items: center;
  margin-top: "50px";
  width: 100%;
  height: calc(100vh - 50px);
}

#about-me #my-intro {
  flex-basis: 0;
  flex-grow: 2;
  text-align: center;
  font-size: 1.8rem;
  padding: 20px;
}

#about-me #my-picture {
  display: flex;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
}

#about-me img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.section-header {
  font-size: 1.5rem;
  text-align: center;
}

#work-section {
  padding: 100px;
  margin: -50px;
}

#my-works {
  display: flex;
  justify-content: space-evenly;
}

#my-works .work {
  width: 300px;
  height: 350px;
  border: 1px solid #656565;
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 4px 4px #656565;
  box-sizing: border-box;
  z-index: -1;
}

#my-works .work .preview {
  width: 180px;
  height: 200px;
  display: flex;
  justify-content: center;
}

#my-works .work .preview img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

#my-works .work .work-name {
  text-transform: uppercase;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
}

#my-works .work .description {
  font-style: italic;
  text-align: center;
}

#my-works .work .github {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 5px 0 0 0;
  text-align: center;
  border-top: 2px solid #656565;
  border-top-style: outset;
}

footer {
  padding: 40px;
  height: 15vmax;
  margin: 80px 0 0 0;
  border-top-style: inset;
  border-top: 4px solid #dedede;
  position: relative;
}

footer #connect {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

footer #connect .connect-media {
  margin: 20px 10px;
}

footer #connect i {
  color: #000000;
}

footer #copyright {
  position: absolute;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #dedede;
}

@media (max-width: 768px) {
  #about-me {
    flex-direction: column-reverse;
    padding: 30px 0;
  }
  #my-works {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
